<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tracker.title %>
</p>

<p>
  <b>Time:</b>
  <%= @tracker.time %>
</p>


<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
